<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <div id="page-wrapper">

    <div class="container-fluid" >

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>招聘信息
            </li>
            <li class="active">
              <i class="fa fa-table"></i>列表
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <div >
        <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3></h3>
          <div class="table-responsive">
            <form id="singcms-listorder">
              <table class="table table-bordered table-hover singcms-table">
                <thead>
                <tr>
                  <th width="14">排序</th>
                  <th>职位名称</th>
                  <th>职位类别</th>
                  <th>最低学历</th>                              
                  <th>工作地点</th>
                  <th>工作年限</th>
                  <th>招聘人数</th>
                  <th>工作类型</th>
                  <th>发布时间</th>
                  <th>状态</th>                
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="jobs" id="job">
                  <tr>                   
                    <td><input size=4 type='text'  name='listorder[{$job.job_id}]' value="{$job.listorder}"/></td><!--6.7-->
                    <td>{$job.title}</td>
                    <td>{$job.type}</td>
                    <td>{$job.education}</td>
                    <td>{$job.address}</td>
                    <td>{$job.workyears}</td>
                    <td>{$job.number}</td>
                    <td>{$job.worktype}</td>
                    <td>{$job.publishtime}</td>
                    <td><span  attr-status="<if condition="$job['status'] eq 1">0<else/>1</if>"  attr-id="{$job.job_id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$job.status|status}</span></td>
                    <td><span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$job.job_id}" ></span>
                      <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$job.job_id}"  attr-message="删除">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </a>
                    </td>
                  </tr>
                </volist>

                </tbody>
              </table>
              <div>
                <button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序</button>
              </div>
            </form>
 <input type="hidden" id="select-push" value="3">    
          </div>
        </div>

      </div>
      <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
  var SCOPE = {
    'edit_url' : '/job/edit.htm',
    'add_url' : '/job/add.htm',
    'set_status_url' : '/job/setStatus.htm',
    'listorder_url' : '/job/listorder.htm',
    'push_url' : '/job/push.htm',
  }
</script>
<include file="Index/footer" />