html,body{
    font-family: 'Microsoft Yahei' !important;
    font-size: 1em !important;
}
a{
	color: black;
}
h4{
    font-size: 1rem !important;
}
a:hover{
	text-decoration: none;
}
.top-header{
	margin-bottom: 1rem !important;	
	margin-top: 2px;
	text-align: left;
    /*font-size: 1.2rem;  	*/
}
.top-header a:hover::before,
.top-header a:hover::after,
.top-header a:focus::before,
.top-header a:focus::after {
	opacity: 1;
}
.top-header a::before {
	margin-right: 10px;
	content: '[';
	/*color: blue;*/
	opacity: 0;
}
.top-header a::after {
	margin-left: 10px;
	content: ']';
	/*color: blue;	*/
	opacity: 0;
}
#logo::before{
 content: ''; 
 margin-right: 0;
}
#logo::after{
 content: ''; 
}
#logo img{
	height: 100%;
}
@media (max-width: 768px) {
    .logo img{
        display: none;
    }  
} 
@media (min-width: 768px) {
    #logo{
        display: none;
    } 
}
.header-top{
    background-color: #e3e4e5;    
}
.header-top .container{
    text-align: right;
}
.header-top .container img{
    padding: 0;
}
.dropdown{
    display: inline-block;
}