<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <script src="/Public/js/kindeditor/kindeditor-all.js"></script>
<div id="page-wrapper">

	<div class="container-fluid">

		<!-- Page Heading -->
		<include file="Basic/button"/>
		<!-- /.row -->

		<div class="row">
			<div class="col-lg-6">

				<form class="form-horizontal" id="singcms-form">
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">站点标题:</label>
						<div class="col-sm-5">
							<input type="text" name="title" value="{$basic.title}" class="form-control" id="title" placeholder="请填写站点标题">
						</div>
					</div>

					<div class="form-group">
						<label for="keywords" class="col-sm-2 control-label">站点关键词:</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" value="{$basic.keywords}" name="keywords" id="keywords" placeholder="请填写站点关键词">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">站点描述:</label>
						<div class="col-sm-5">
							<textarea class="form-control" rows="3" name="description" id="description">{$basic.description}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="version" class="col-sm-2 control-label">版本管理:</label>
						<div class="col-sm-5">
							<input type="text" name="version" value="{$basic.version}" class="form-control" id="version" placeholder="请填写站点版本">
						</div>
					</div>
		            <div class="form-group">
		              <label for="inputname" class="col-sm-2 control-label">顶部图片:</label>
		              <div class="col-sm-5">
		                <input id="file_upload"  type="file" multiple="true" >
		                <img id="upload_org_code_img" width="300" height="135" src="{$basic.thumb}">
		                <input id="file_upload_image" name="thumb" type="hidden" multiple="true" value="{$basic.thumb}">
		              </div>
		            </div>
					<div class="form-group">
						<label for="computer" class="col-sm-2 control-label">公司介绍:</label>
						<div class="col-sm-5">
							<textarea class="form-control" rows="3" name="computer" id="computer">{$basic.computer}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="team" class="col-sm-2 control-label">团队描述:</label>
						<div class="col-sm-5">
							<textarea class="form-control" rows="3" name="team" id="team">{$basic.team}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-2 control-label">地址:</label>
						<div class="col-sm-5">
							<input type="text" name="address" value="{$basic.address}" class="form-control" id="address" placeholder="请填写联系我们的地址信息">
						</div>
					</div>
					<div class="form-group">
						<label for="zipcode" class="col-sm-2 control-label">邮编:</label>
						<div class="col-sm-5">
							<input type="text" name="zipcode" value="{$basic.zipcode}" class="form-control" id="zipcode" placeholder="请填写联系我们的邮编信息">
						</div>
					</div>	
					<div class="form-group">
						<label for="tel" class="col-sm-2 control-label">电话:</label>
						<div class="col-sm-5">
							<input type="text" name="tel" value="{$basic.tel}" class="form-control" id="tel" placeholder="请填写联系我们的电话信息">
						</div>
					</div>
					<div class="form-group">
						<label for="fax" class="col-sm-2 control-label">传真:</label>
						<div class="col-sm-5">
							<input type="text" name="fax" value="{$basic.fax}" class="form-control" id="fax" placeholder="请填写联系我们的传真信息">
						</div>
					</div>
					<div class="form-group">
						<label for="mail" class="col-sm-2 control-label">E-mail:</label>
						<div class="col-sm-5">
							<input type="text" name="mail" value="{$basic.mail}" class="form-control" id="mail" placeholder="请填写联系我们的E-mail信息">
						</div>
					</div>
					<div class="form-group">
						<label for="service" class="col-sm-2 control-label">服务:</label>
						<div class="col-sm-5">
							<input type="text" name="service" value="{$basic.service}" class="form-control" id="service" placeholder="请填写联系我们的服务关键词">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
						</div>
					</div>
				</form>


			</div>

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script type="text/javascript" src="/Public/js/admin/form.js"></script>
<!-- /#wrapper -->
<script src="/Public/js/admin/image.js"></script>
<script>
	var SCOPE = {
		'save_url' : '/basic/save.htm',
		'jump_url' : '/basic.htm',
	    'ajax_upload_image_url' : '/image/ajaxuploadimage.htm',
    	'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
	};
  KindEditor.ready(function(K) {
    window.editor = K.create('#editor_singcms',{
      uploadJson : 'image/kindupload.htm',
      afterBlur : function(){this.sync();}, //
    });
  });
</script>
<script>
  var thumb = "{$news.thumb}";
  if(thumb) {
    $("#upload_org_code_img").show();
  }
</script>
<include file="Index/footer" />