<!-- 联系我们 -->
		<div class="section" id="cooperation" style="padding:50px">
			<div class="col-md-3"></div>
			<div class="col-xs-12 col-md-3">
				<h3>关于</h3>
				<p>地址:{$basic.address}</p>
				<p>邮编:{$basic.zipcode}</p>
				<p>电话:{$basic.tel}</p>
				<p>传真:{$basic.fax}</p>
				<p>E-mail:{$basic.mail}</p>
			</div>
			<div class="col-xs-12 col-md-3">
				<h3>服务</h3>
				<volist name="service" id="s">
					<p>{$s}</p>
	   			</volist>
			</div>
			<div class="col-md-3"></div>				
		</div>
	</div>
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script src="/Public/js/home/vendor.js?version={$basic.md5version}"></script>
<script src="/Public/js/home/main.js?version={$basic.md5version}"></script>

<script type="text/javascript">
	$('a[href=#contact]').hover(function() {
		setTimeout(function() {
			$('#us').animate({
				opacity: '1'
			})
		}, 1200)
	})
	$('#contact').hover(function() {
		$('#us').animate({
			opacity: '1'
		});
	})
	$('#launcher1').hover(function() {
		$('#us').animate({
			opacity: '1'
		});
	})

	function c() {
		var a = $('h4').length
		var name = ''
		name += "<ol style='list-style-type:decimal'>"
		for(var i = 0; i < a; i++) {
			name += "<li>"
			name += $('h4').eq(i).html();
			name += "</li>"
		};
		name += "</ol>"
		$('#photo-wall').append(name);
		console.log(name);
	}
	$('#app-start').click(function() {
		$('a[href=#apps]').click();
	})
	$('#apps h3:nth-of-type(odd)').css('text-align', 'left');
</script>
</body>
</html>