<include file="Index/header" />
<!-- 导航区域开始 -->
<div class="navbar regular">
	<div class="container">
		<div class="navbar-logo-w">
			<img src="/Public/img/pc_logo_s.png" class="animated fadeInDown">
		</div>
		<div class="navbar-logo">
			<img src="/Public/img/pc_logo_b.png" class="animated fadeInDown">
		</div>
		<ul class="navbar-items">
			<li class="">
				<div class="led"></div>
				<a href="#hero">首页</a>
			</li>
			<li class="">
				<div class="led"></div>
				<a href="#contact">公司介绍</a>
			</li>
			<li class="">
				<div class="led"></div>
				<a href="#apps">产品服务</a>
			</li>
			<li class="">
				<div class="led"></div>
				<a href="#job">招聘信息</a>
			</li>
			<li class="">
				<div class="led"></div>
				<a href="#cooperation">联系我们</a>
			</li>
		</ul>
	</div>
</div>
<a href="#" class="collapse-button">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
<div class="snap-drawers">
<!-- 模态框（Modal） -->
<volist name="products" id="product">
<div class="modal fade" id="{$product.product_id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					{$product.title}
				</h4>
			</div>
			<div class="modal-body">
				{$product.content}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</volist>
	<div class="snap-drawer snap-drawer-right">
		<div>
			<ul class="navbar-items">
				<li>
					<a href="#hero">首页</a>
				</li>
				<li>
					<a href="#contact">公司介绍</a>
				</li>
				<li>
					<a href="#apps">产品服务</a>
				</li>
				<li>
					<a href="#job">招聘信息</a>
				</li>
				<li>
					<a href="#cooperation">联系我们</a>
				</li>
			</ul>
			<div style="position:absolute; bottom:0">
				<p>久诚卓慧有限公司</p>
			</div>
		</div>
	</div>
</div>
<!-- 导航区域结束 -->
<div class="snap-content">
	<!-- 顶部区域 -->
	<div id="hero" style="background: url({$basic.thumb}) no-repeat top center;">
		<div class="container">
			<div class="logo">
				<span class="animated zoomIn">大连久诚卓慧</span>
			</div>
			<h1 class="animated bounceInLeft delay05" style="margin-bottom:10%;">长久 诚信 卓越 智慧</h1>
			
			<div class="animated fadeIn delay2" style="width:100%;position:fixed;bottom:5%;text-align: center;color:#90A4AE;font-size: 1.2em;">
			</div>
		</div>
	</div>
	<!-- 公司介绍,团队介绍 -->
	<div class="section" id="contact">
		<div class="title">
			<h2>公司介绍</h2>
		</div>
		<p id="us" style="opacity:1;transition:all 0.2s linear;">{$basic.computer}
		</p>
	</div>
	<div class="section" id="team">
		<div class="title">
			<h2>我们的团队</h2>
			<p>{$basic.team}</p>
		</div>
		<div id="photo-wall">
			<ul>
				<volist name="users" id="user">
					<li class="team-list">
						<img class="photos img-responsive img-circle" src="{$user.thumb}">
						<h4 class="name">{$user.name}</h4>
						<h5 class="job">{$user.job}</h5>
					</li>
				</volist>
			</ul>
		</div>
	</div>
	<!-- 产品服务 -->
	<div id="apps">
		<ul>
			<volist name="products" id="product">
				<li class="<if condition="$i%2==1">text-first<else/>pic-first</if>">
					<div class="container">
						<div class="text">
							<h3 style="text-align: left;">{$product.title}</h3>
							{$product.description}
						</div>
						<div class="pics animated" style="opacity: 1;">
							<img src="{$product.thumb}">
							<a class="readDetail" style="right:27%;"  data-toggle="modal" data-target="#{$product.product_id}">查看详情</a>
						</div>
					</div>
				</li>
			</volist>
		</ul>
	</div>
	<!-- 招聘信息 -->
	<volist name="jobs" id="jobs">
		<div class="m-job" id="job">
			<div class="basic-info">
				<h2 class="job-title">{$jobs.title}</h2>
				<span class="post-date">发布时间：{$jobs.publishtime}</span>
				<table class="job-params">
					<colgroup>
					<col width="110">
					<col>
					<col width="110">
					<col>
				</colgroup>
				<tbody><tr>
					<th>职位类别：</th>
					<td>{$jobs.type}</td>
					<th>最低学历：</th>
					<td>{$jobs.education}</td>
				</tr>
				<tr>
					<th>工作地点：</th>
					<td>{$jobs.address}</td>
					<th>工作年限：</th>
					<td>{$jobs.workyears}</td>
				</tr>
				<tr>
					<th>招聘人数：</th>
					<td>{$jobs.number}</td>
					<th>工作类型：</th>
					<td>{$jobs.worktype}</td>
				</tr>
			</tbody></table>
		</div>
		<div class="detail-info">
			<div class="detail-section">
				<h3 class="section-title">岗位描述</h3>
				<div class="section-content">{$jobs.workinfo|formatwork}</div>
			</div>
			<div class="detail-section">
				<h3 class="section-title">岗位要求</h3>
				<div class="section-content">{$jobs.workrequire|formatwork}</div>
			</div>
		</div>
	</volist>
</div>
<include file="Index/footer" />