<include file="Index/header" />
<body>
<div id="wrapper">

  <include file="Index/nav"/>
  <script src="/Public/js/kindeditor/kindeditor-all.js"></script>
  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>用户管理
            </li>
            <li class="active">
              <i class="fa fa-edit"></i> 编辑
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-6">

          <form class="form-horizontal" id="singcms-form">  
          <input type="hidden" name="user_id" value="{$user.user_id}"/>         
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">用户名:</label>
              <div class="col-sm-5">
                <input value="{$user.username}" type="text" name="username" readonly class="form-control" id="inputname" >
              </div>
            </div>
            <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">微信id:</label>
              <div class="col-sm-5">
                <input value="{$user.openid}" type="text" name="openid" readonly class="form-control" id="inputname" >
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">分类:</label>
                <div class="col-sm-5">
                    <input type="radio" name="level" id="optionsRadiosInline1" value="D" <if condition="$user.level eq D">checked</if>> 加盟商
                    <input type="radio" name="level" id="optionsRadiosInline2" value="1" <if condition="$user.level neq D">checked</if>> 普通用户
                </div>                
            </div>            
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">电话:</label>
              <div class="col-sm-5">
                <input value="{$user.phone}" type="text" name="phone" class="form-control" id="inputname" >
              </div>
            </div>
             <div class="form-group">
              <label for="inputname" class="col-sm-2 control-label">邮箱:</label>
              <div class="col-sm-5">
                <input value="{$user.email}" type="text" name="email" class="form-control" id="inputname" >
              </div>
            </div>         
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="singcms-button-submit">提交</button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<script>
  var SCOPE = {
    'save_url' : '/admin.php?c=user&a=save',
    'jump_url' : '/admin.php?c=user',
    'ajax_upload_image_url' : '/admin.php?c=image&a=ajaxuploadimage',
    'ajax_upload_swf' : '/Public/js/party/uploadify.swf',
  };

</script>
<include file="Index/footer" />